li.upload{
	padding: 5px;
	#user_upload_file{
		display: none;
	}
}

.sidebar{
	.files, .music, .images{
		width: 35px;
		margin: 0 auto;
		margin-bottom: 40px;
		img{
			width: 100%;
		}
	}
}

.file-list-item{
	padding: 10px 0;
	position: relative;
	form{
		margin: 0;
		padding: 0;
	}
	#name{
		position: absolute;
		top: 2px;
		display: none;
		width: 400px;
	}
	.controls{
		position: absolute;
		right: 0;
		top: 8px;
		.delete-link{
			img{
				width: 15px;
				margin-top: -4px;
			}
		}
		a{
			margin-right: 10px;
			font-size: 0.8em;
		}
	}
	&:nth-child(even) {
		background: #eee;
	}
	&:hover{
		background: #ddd;
	}
}